@media only screen and (max-width:1080px){
    .post-content .post-action h4, .post-content .post-action i{
        font-size: 16px !important;
    }
}
@media only screen and (max-width:768px){
    .post-content, .post-action, .post-thumbnail, .post-desc{
        all: unset;
    }
    .post-thumbnail{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .post-content{
        padding: 10px 10px 0 10px;
        height: auto !important;
    }
    .post-action span span h4, .post-author{
        /* border: 2px solid black; */
        display: none !important;
    }
}
body{
    background-image: linear-gradient(to bottom, rgb(0, 212, 250) ,  green);
}
#login, #login .container-fluid, #login .container-fluid .row:first-child{
    height:100vh;
}
#login{
    background-image: url(images/bg-login.jpg);
}
.logo{
    width: 75px;
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
a{
    text-decoration: none;
}
header ul li{
    font-size: 24px;
}
.post-content{
    height: 200px;
    /* overflow: hidden; */
}
.post-desc{
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-thumbnail{
    width: 100%;
    /* border: 3px solid red; */
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    /* margin: 10px; */
}

input[type='file'] {
    background-color: transparent !important;
    border: none;    
    padding: 0;
}