@media only screen and (max-width: 768px){
    .carousel-img{
        /* object-fit: unset !important; */
        height: unset !important;
        max-height: 300px !important;
        min-height: 300px !important;
    }
}
body{
    background-color: #343a40;
}
footer{
    background-color: #f8f9fa;
    color: #343a40 ;
}
.carousel-img{
    width: 100%;
    max-height: 500px;
    min-height: 500px ;
    object-fit: cover;
    margin: 0 auto;
}
#login, #login .container-fluid, #login .container-fluid .row:first-child{
    height:100vh;
}
#login{
    background-image: url(images/bg-login.jpg);
    background-size: cover;
    /* object-fit: cover; */
}
.logo{
    width: 75px;
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
a{
    text-decoration: none;
}
input[type='file'] {
    background-color: transparent !important;
    border: none;    
    padding: 0;
}
.article{
    margin-bottom: 25px;
}
.article-img{
    max-height: 250px;
    min-height: 250px;
    object-fit: cover;
}
.article-meta{
    justify-content: space-between;
    border-width: 2px 0;
    border-style: solid;
    border-color:  #FFCC00;
    font-size: 12px;
}
.article-author::before{
    content: "-";
}